<IfModule mod_rewrite.c>
    RewriteEngine On

    # Forcer la redirection vers HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Rediriger toutes les requêtes vers index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
